div{
    height: 500px;
    width: 800px;
    background: linear-gradient(black,blue);
}



#pic{
    background: linear-gradient(black, blue);
    height: 300px;
    position: relative;
    transform: translate(-1px,-540px);
    transition-timing-function: ease-in-out;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    
}

@keyframes example{
    0%   {background-color: white; left: 0px; top: 0px;}
    25%  {background-color: blue; left:0px; top:200px;}
    50%  {background-color: green; left:300px; top:300px;}
    75%  {background-color: yellow; left:300px; top:0px;}
    100% {background-color: red; left:0px; top:0px;}
}
h1{
    color: yellow;
    text-shadow: 2px 2px 5px red;
    transform: translate(0px,-520px);
}